body {
  background: #f8f8f8;
  font-family: "Roboto Condensed";
  a {
    color: blue;
  }
}
button {
  border: 1px solid black;
  background: #ccc;
  padding: .3rem 1rem;
  border-radius: 3px;
}
header {
  min-height: 50px;
}
