- var lg = (i18n ? i18n.language : 'fr');
doctype
html(lang= lg)
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta('http-equiv'= 'X-UA-Compatible', content= 'IE=edge')
    if !process.env.NODE_ENV
      link(rel="stylesheet",href="/dist/main.min.css")
  body
    block main
    if initialState
      script(type="text/javascript").
        window.__INITIAL_STATE__ = !{initialState};
  script(type="text/javascript", src="/dist/main.bundle.min.js", charset="utf-8")
